<h1>Some things I've built for fun</h1>
<ul>
<% @projects.each do |project| %>
  <li>
    <%= link_to "#{project.name} - #{project.short_desc}", "/projects/#{project.slug}" %>
  </li>
<% end %>
</ul>

<br></br>

<h2>Want a fun fact about me?</h2>
<div id='funfact-div'></div>
<button id='funfact-button'>Yes please!</button>
<%= javascript_include_tag "#{params[:controller]}/#{params[:action]}", :cache => true, :async => true%>
