<h1>Some things I've built for fun</h1>
<ul>
<% @projects.each do |project| %>
	<li>
		<%= link_to "#{project.name} - #{project.short_desc}", "/projects/#{project.slug}" %>
	</li>
    <hr></hr>
<% end %>
</ul>
