<div id='about-container'>
	<h1>Aspen James</h1>
	<h2>Software Engineer, Linux Lover, Tree Hugger</h2>
	<p>Full-stack web developer writing JavaScript, Python, and Ruby. With a background in coffee, customer service, and training, I have cultivated a strong attention to detail and effective interpersonal skills. My natural curiosity and passion for continuous learning have driven me to pursue a growing list of technical competencies. In my free time, I enjoy learning new programming languages, finding (or building) terminal-based alternatives for graphical applications, hiking, and reading about plants.</p>
</div>
