<div class='content'>
	<div class='main'>
		<div id='content-container'>
			<h1>Aspen James</h1>
			<h2>Software Engineer, Linux Lover, Tree Hugger</h2>
			<p>Full-stack web developer writing JavaScript, Python, and Ruby. With a background in coffee, customer service, and training, I have cultivated a strong attention to detail and effective interpersonal skills. My natural curiosity and passion for continuous learning have driven me to pursue a growing list of technical competencies. In my free time, I enjoy learning new programming languages, finding (or building) terminal-based alternatives for graphical applications, hiking, and reading about plants.</p>
		</div>
	</div>
	<div class='sidebar-right'>
		<div id='sidebar-container'>
			<img id='profile' alt='profile' src='https://14079d9dd99737967afe.s3-us-west-2.amazonaws.com/headshot.jpg' />
			<a href='mailto:aspenjames@tqca.org'>Email</a>
			<a href='https://dev.to/aspenjames' target='_blank' rel='noopener noreferrer'>Blog</a>
			<a href='/resume'>Resume</a>
		</div>
	</div>
</div>
