/* These styles are for elements outside the scope of the
 * Svelte template: parent container + generated CodeMirror elements.
 * Template-specific styles are located in projectDetail.svelte
 */

.content {
  text-align: center;
}

#codemirror {
  width: 80%;
  margin: 25px auto;
  text-align: left;
  border-radius: 20px;
}

#codemirror div {
  background-color: #111;
  border-radius: 20px;
  height: auto;
}

pre * {
  background-color: #111;
}
