.content {
  text-align: center;
  width: 80%;
  margin: auto;
}

ul {
  color: aliceblue;
}

li {
  font-size: 1.25em;
  line-height: 2;
  list-style-type: none;
}

li a {
  color: aqua;
  font-size: 1.25em;
  text-decoration: none;
}

li a:hover {
  cursor: pointer;
  color: peachpuff;
  text-decoration: underline;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: aliceblue;
}

h2 {
  font-size: 1.75em;
  margin-bottom: 20px;
  color: aliceblue;
}

#funfact-button {
  background-color: #FFA4FF;
  color: #222;
  border: none;
  font-size: 1.5em;
  padding: 10px 15px;
  margin-bottom: 20px;
}

#funfact-div {
  font-size: 1.5em;
  color: peachpuff;
  margin-bottom: 20px;
}
