/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'fonts'
 */

/* Global styles */
* {
	margin: 0;
	font-family: 'JetBrainsMono', 'Roboto', 'Oxygen',
							 'Ubunbtu', 'Fira Sans', 'Droid Sans',
							 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-mox-osx-font-smoothing: grayscale;
	background-color: #222;
}

/* Web styles -- Navbar */
#navbar {
	position: relative;
	margin: 20px 10px 20px;
	text-align: center;
}

#navbar img {
	width: 100px;
	height: auto;
	border-radius: 100px;
	vertical-align: middle;
}

#navbar a {
	display: inline-block;
	vertical-align: middle;
	color: aqua;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 2em;
}

#icon {
	position: absolute;
	margin: 10px 20px;
	top: 0;
	right: 0;
	display: none;
	color: aliceblue;
}

#navbar a.active {
	color: aliceblue;
}

/* Mobile styles -- Navbar */
@media only screen and (max-width: 900px) {
	#navbar {
		visibility: hidden;
		height: 25px;
		margin-bottom: 10px;
	}

	#icon {
		display: block;
	}

	#navbar a {
		display: block;
	}

	#navbar img {
		display: none;
	}
}
